# Importation

In [ ]:
#importation des packages

import pandas as pd
import matplotlib.pyplot as plt
import seaborn
import random

In [9]:
#importation du jeu de données
data = pd.read_csv("covid-hospit-2022-11-30-19h02.csv", delimiter = ";")
df = data.copy()

# Analyse exploratoire

In [10]:
df.shape

(301340, 10)

In [11]:
df.head()

  dep  sexe        jour  hosp  rea  HospConv  SSR_USLD  autres  rad  dc
0  01     0  2020-03-18     2    0       NaN       NaN     NaN    1   0
1  01     1  2020-03-18     1    0       NaN       NaN     NaN    1   0
2  01     2  2020-03-18     1    0       NaN       NaN     NaN    0   0
3  02     0  2020-03-18    41   10       NaN       NaN     NaN   18  11
4  02     1  2020-03-18    19    4       NaN       NaN     NaN   11   6

# Description des variables 

- dep correspond au département de l'hôpital
- sexe correspond au genre de la personn